<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
   <div id="root">
      <header>
         <div class="title container">
            <div class="nameShop">eShop {{summPrice}}</div>
            <div class="headerRight">
               <input-search v-model="searchValue"></input-search>
               <custom-button v-on:click="cliclkCart">Корзина</custom-button>
               <cart-window v-if="isVisibleCart" v-on:click="closeCart"></cart-window>
            </div>
         </div>
      </header>
      <main class="container">
         <p v-if="waiting">Нет данных</p>
         <div class="goods-list">
            <good v-for="item in filteredGoods" v-bind:item="item"></good>
         </div>

      </main>
   </div>
</body>

</html>