.body {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 750px;
    font-family:sans-serif;
    margin: 0 auto;
    }

.cart-button {
    margin-top: 20px;
background-color: rgba(84, 180, 180, 0.267);
padding: 7px;
border-radius: 10px;
border-width: 1px;
display: block;
right: 3px;
margin-left: auto;

}

.goods-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
flex-wrap: wrap;
}

.goods-item {
    height: 320px;
    width: 230px;
    background-color: rgb(235, 227, 228);
    margin-bottom: 10px;
}

.photoItem {
    width: inherit;
    height: 220px;
    object-fit: cover;
}

.itemTitle {
font-size: 20px;
padding-left: 5px;
display: block;
}

.itemPrice {
    display: block;
    padding-left: 5px;
}